:root {
  --dark-color-btn:#495464;
  --light-color-btn: #F4F4F2;
  --medium-ligth-color: #E8E8E8;
  --medium-dark-color: #BBBFCA;
}
@font-face {
  font-family: "baloo";
  src: url('./fonts/Baloo-Regular.ttf');
}


body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
