.principal label {
  border: 1px ;
}

.principal button{
  background: rgb(231, 229, 229);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 30px;
  color: rgb(71, 71, 71);
  padding: 6px;
  width: 10%;
  cursor: pointer;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  grid-gap: 2vw;
  align-items: stretch;
}
.grid article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px 0px  rgba(0,0,0,0.3);
  margin: 1vw;
  border-radius: 20px;
}
.grid article img {
  max-width: 100%;
  border-radius: 20px;
}
.text {
  padding: 0 20px 20px;
  
}
.text button {
  background: var(--light-color-btn);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 30px;
  color: var(--dark-color-btn);
  padding: 10px;
  width: 50%;
  cursor: pointer;
  
  }
  .text button:hover {
    transition: 800ms;
    background-color: var(--dark-color-btn);
    color: var(--light-color-btn);
  }
  